exclude: "^$"

fail_fast: false

repos:
    - repo: https://github.com/Lucas-C/pre-commit-hooks
      rev: v1.1.9
      hooks:
          - id: forbid-tabs
            exclude: "setup.cfg"
          - id: remove-tabs
            exclude: "setup.cfg"
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
          - id: trailing-whitespace
            exclude: "setup.cfg"
          - id: end-of-file-fixer
            exclude: "setup.cfg"
          - id: check-yaml
            exclude: mkdocs.yml
          - id: check-json
          - id: detect-private-key
          - id: check-merge-conflict
          - id: check-docstring-first
    # Python import sorting
    - repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
          - id: isort
            name: isort (python)
            args: ["--profile", "black", "--filter-files"]
    # Python formatting
    - repo: https://github.com/psf/black
      rev: 22.1.0
      hooks:
          - id: black

    # Python linting/syntax checking
    - repo: https://github.com/pycqa/flake8
      rev: "4.0.1" # pick a git hash / tag to point to
      hooks:
          - id: flake8

    # Commit message
    - repo: https://github.com/commitizen-tools/commitizen
      rev: "v2.21.2"
      hooks:
          - id: commitizen
            stages: [commit-msg]

    # Python check docstrings
    - repo: https://github.com/pycqa/pydocstyle
      rev: 6.1.1 # pick a git hash / tag to point to
      hooks:
          - id: pydocstyle
            files: ^{{ cookiecutter.project_slug }}/
            args:
                - --ignore=D100,D203,D406,D407,D212

    - repo: https://github.com/PyCQA/bandit
      rev: "1.7.4"
      hooks:
          - id: bandit
            args:
                - -c=bandit.yaml
